{% extends 'layout.html.twig' %}

{% block body %}

    {{ form_start(form, { 'attr' : { 'novalidate': 'novalidate' }}) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.date) }}
    {{ form_row(form.category) }}
    {{ form_row(form.users) }}

    <p><input type="submit" value="valider" class="btn btn-success"></p>

    {{ form_end(form) }}

{% endblock %}
{% block sidebar %}
    <a href="{{ path('ticket_crud_index') }}" class="btn btn-success">Revenir à la liste</a>
{% endblock %}
